version: "3.8"

services:
  date-annotator:
    image: nlpsandbox/date-annotator-example:0.3.2
    build:
      context: server
      dockerfile: Dockerfile
    container_name: date-annotator
    networks:
      - nlp-sandbox-internal

  nginx:
    image: nginx:1.19.6-alpine
    container_name: nginx
    restart: always
    environment:
      - TOOL_HOST=date-annotator
      - TOOL_PORT=8080
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/templates:/etc/nginx/templates:ro
    networks:
      - nlp-sandbox
      - nlp-sandbox-internal
    ports:
      - "80:80"
    depends_on:
      - date-annotator

networks:
  nlp-sandbox:
  nlp-sandbox-internal:
    internal: true