connexion[swagger-ui] <= 2.3.0; python_version=="3.5" or python_version=="3.4"
connexion[swagger-ui] >= 2.6.0; python_version>="3.6"
python_dateutil >= 2.6.0
setuptools >= 21.0.0
swagger-ui-bundle >= 0.0.2
werkzeug == 0.16.1; python_version=="3.5" or python_version=="3.4"